<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- user credentials and root directory -->
    <add key="userName" value="tester" />
    <add key="userPassword" value="password" />
    <add key="userRootDir" value=".\data" />
    <!-- Ports on which the server listens for FTP connections. -->
    <add key="ftpPort" value="21" />
    <add key="ftpPortImplicit" value="990" />
    <!-- Specifies whether to enable plain FTP without TLS encryption. -->
    <add key="allowPlainFtp" value="true" />
    <!-- Port range for data transfers in passive mode. -->
    <!--
    <add key="ftpDataPortRange" value="11000-11100" />
    -->
    <!-- Server certificate and its password. -->
    <add key="serverCertificateFile" value="server-certificate.pfx" />
    <add key="serverCertificatePassword" value="my-super-secure-password" />
    <!-- Comma separated list of enabled TLS versions.
         Possible values: TLS10,TLS11,TLS12,TLS13. -->
    <add key="tlsVersions" value="TLS10,TLS11,TLS12,TLS13" />
    <!-- specifies whether to start the server when the application is launched -->
    <add key="autoStart" value="false" />
    <!-- specifies whether to show login details when the application is launched -->
    <add key="showUserDetailsOnStartup" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>